[Desktop Entry]
Encoding=UTF-8
Name=DarkSilk
Comment=DarkSilk P2P Cryptocurrency
Comment[fr]=DarkSilk, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DarkSilk, eşten eşe kriptografik sanal para birimi
Exec=darksilk-qt %u
Terminal=false
Type=Application
Icon=darksilk128
MimeType=x-scheme-handler/darksilk;
Categories=Office;Finance;
